.margen-superior-main {
  margin-top: 40px;
  padding: 20px;
}


.texto-marca {
  color: rgb(187, 255, 0);
}
.texto-marca2 
{
  color: rgb(16, 15, 15);
}
.color-verde-chocoyo {
  color : rgb(0, 255, 136);
}
